body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
}
.specific_style{
    font-family: 'Playfair Display', serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-size: 360%;
    
}
.border{
    border-left: 5px solid;
    border-color: rgb(247, 91, 91);
    border-image-slice: 1;
}
.text_colour{
    color: orange;
}
.flex{
    display: flex;
}

.flexible_container{
    width: 50%;
    
}
.padding{
    padding-left: 120px;
    padding-top: 100px;
    width: 30%;
}
.text_size{
    font-size: larger;
}
.flexible_container img{
    width: 50%;
    padding-left: 300px;
}

.button{
    text-decoration: none;
    background-color: rgb(247, 91, 91);
    padding: 10px;
    color: azure;
    border-radius: 6px;
    font-weight: 400;
}
.center_container{
    text-align: center;
    font-size: xx-large;
}
.three{
display: flex;

}

.three1{
    width: 20%;
    box-shadow: 5px 5px 5px rgb(245, 244, 244);
    padding-left: 60px;
    padding-right: 80px;
    background-color: rgb(217, 243, 243);
    margin-left: 170px;
    margin-right: 10px;
    border-radius: 10px;
}
.three1 img{
    width: 50%;
}
.three2{
    width: 20%;
    box-shadow: 5px 5px 5px rgb(245, 244, 244);
    padding-left: 60px;
    padding-right: 80px;
    background-color: rgb(247, 222, 192);
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 10px;
}
.three2 img{
    width: 50%;
}
.three3{
    width: 20%;
    box-shadow: 5px 5px 5px rgb(245, 244, 244);
    padding-left: 60px;
    padding-right: 80px;
    background-color: rgb(244, 242, 197);
    margin-left: 10px;
    margin-right: 200px;
    border-radius: 10px;
}
.three3 img{
    width: 50%;
}
.flex2{
    display: flex;
    padding-left: 300px;
    background-image: url(images/shapes/shape-1.png);
    background-repeat: no-repeat;
    background-position: 200px 150px;
    background-size: 230px;
}
.flexible_container2{
    width: 50%;
}
.flexible_container2 img{
    width: 90%;
}
.padding2{
    
    padding-top: 100px;
    width: 30%;
   
}
.develop{
    font-size: 35px;
}
.font_larger{
    font-size: larger;
}
.flex3{
    display: flex;
    padding-left: 100px;
    padding-bottom: 100px;
    background-image: url(images/shapes/shape-1.png);
    background-repeat: no-repeat;
    background-position: 1170px 380px;
    background-size: 200px;
}
.flexible_container3{
    width: 50%;
}
.flexible_container3 img{
    width: 60%;
    padding-left: 150px;
}
.padding3{
    
    padding-top: 100px;
    width: 45%;
   
}
.flex4{
    display: flex;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 100px;
    background-image: url(images/shapes/shape-2.png);
    background-repeat: no-repeat;
    background-position: 160px 50px;
    background-size: 140px;
}
.flexible_container4{
    width: 50%;
}
.flexible_container4 img{
    width: 60%;
    padding-left: 150px;
    height: 300px;
}
.padding4{
    
    padding-top: 100px;
    width: 45%;
   
}
.footer{
    background-color: black;
    color: antiquewhite;
    height: 150px;
}
.center_footer{
    text-align: center;
}
#italic{
    font-family: italic;
    padding-top: 20px;
    padding-bottom: 50px;
}
#smaller{
    font-size: smaller;
    
}